html,
body,
#root,
.app-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.wrapper {
  height: 100vh;
}
.mapbox-wrapper {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 80vw;
  height: 70vh;
  background-color: antiquewhite;
}

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid gray;
  border-radius: 15px;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  background: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 300px;
}

.geocoder-container .mapboxgl-ctrl-geocoder {
  min-width: 280px;
}

button {
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

.marker {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
